@import 'variables'; 

*,
::before,
::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

:root { box-sizing: border-box; }

a {
  text-decoration: none;  
  color: inherit;
}

li { list-style-type: none; }