@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
@import 'variables'; 

*,
::before,
::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;

  font-family: 'Roboto', sans-serif;
}

:root { box-sizing: border-box; }

a {
  text-decoration: none;  
  color: inherit;
}

li { list-style-type: none; }