@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

@mixin box-shadow($distance: 1px, $blur: 5px) {
  box-shadow: 0px $distance $blur 0px rgba(50, 50, 50, 0.3);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font: {
    family: 'Roboto', sans-serif;
    size: 1rem;
  }

  --app-background-color: #fafafa;
  --record-background-color: #fff;
  --primary-color: #c7000a;
  --divider-color: #ccc;

  --font-color-dark: #333;
  --font-color-light: #fff;

  --trans-dur-quickly: .2s;
  --trans-dur-regular: .35s;
  --trans-dur-slowly: .75s;

  --red: #e22523;
}

.container { 
  max-width: 1000px; 
  padding: { left: 1rem; right: 1rem; }
}

.header { margin: { top: .5em; bottom: .5em; } }

.italic { font-style: italic; } 

.text-center { text-align: center; }

.app {
  min-height: 100vh;
  background-color: var(--app-background-color);

  &__header {
    height: 50px;
    background-color: var(--primary-color);

    @include box-shadow(1px);

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &-logo {
      display: flex;
      align-items: center;
      font: { size: 1.75rem; weight: 700; }
      color: var(--font-color-light);

      &__img {
        width: 35px;
        height: 40px;
        margin-right: .5rem;

        background: {
          image: url('https://www.vippng.com/png/full/3-34482_calendar-icon.png');
          size: contain;
        }
      }
    }
  }

  &__main,
  &__header {
    .container { margin: 0 auto; }
  }
}

.record-list {
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;
    background-color: var(--record-background-color);
    transition: {
      property: box-shadow transform; 
      duration: var(--trans-dur-quickly);
    } 

    @include box-shadow(1px);

    &:hover { 
      cursor: pointer;
      transform: translateY(-3px);
      @include box-shadow(3px); 

      & .record-list-item__title { 
        transition: color var(--trans-dur-quickly);
        color: var(--primary-color); 
      }
    }

    &__index {
      margin-right: .5rem;

      &::after {
        content: '.';
      }
    }

    &__date { 
      margin-right: 1rem; 
      font-weight: lighter;
    }

    &__button {
      padding: .25rem;
      font-size: 1.25rem;
      border-radius: 50%;

      transition: {
        property: background-color color;
        duration: var(--trans-dur-regular);
      }

      &:hover { background-color: rgba(0, 0, 0, .05); }

      &:active { color: var(--red); }
    }
  }
}

.add-task-menu {  
  &__editor {
    display: flex;
    align-items: center;

    &-input {
      width: calc(100% - 200px);
      padding: .75rem;
      margin-right: 1rem;

      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid var(--divider-color);

      transition: {
        property: border;
        duration: var(--trans-dur-regular);
      }

      &:focus { border-color: var(--primary-color); }
    }
  }

  &__button {
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: .75rem;
    margin-bottom: 1rem;
  
    border-radius: 5px;
  
    color: var(--font-color-light);
    background-color: var(--red);  

    transition: {
      property: background-color color;
      duration: var(--trans-dur-regular);
    }
    
    @include box-shadow(1px);
  
    &:hover {
      color: var(--red);
      background-color: var(--font-color-light);
        cursor: pointer;
    }

    &-icon { 
      margin-right: .5rem;
      font-size: 1.5rem; 
    }
  }
}