@import 'core/normalize';

/* ----- Padding & Margin ----- */

@for $depth from map-get($indent-limits, "min") through map-get($indent-limits, "max") {
    $computed: $indent-value * $depth;
    
    @each $indent, $indent-alias in $indent-aliases {
      .#{$indent-alias}x-#{$depth} {
          #{$indent}-left: $computed;
          #{$indent}-right: $computed;
      }
      
      .#{$indent-alias}y-#{$depth} {
          #{$indent}-top: $computed;
          #{$indent}-bottom: $computed;
      }

      .#{$indent-alias}-#{$depth} {
        #{$indent}: $computed;
      }
    
      @each $side, $side-alias in $side-aliases {
      .#{$indent-alias}#{$side-alias}-#{$depth} {
        #{$indent}-#{$side}: $computed;
      }
    }
  }
}

/* ----- Headers ----- */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

@for $i from 1 through 6 {
  h#{$i}, 
  .h#{$i} { font-size: list-nth($header-sizes, $i); } 
}

/* ----- Typography ----- */

@each $variant in $text-align-variants {
  .align-#{$variant}{ text-align: $variant };
}

/* ----- Form ----- */

/* ----- Input ----- */

%input {
  @extend .p-2, .mb-2, .rounded;

  outline: none;
  border: 2px solid map-get($text-colors, "secondary");

  transition: {
    property: border-color;
    duration: "#{map-get($transition-durations, "regulary")}s";
  }

  &:focus { border-color: map-get($colors, "primary"); }
}

/* ----- Border ----- */

.rounded { border-radius: .25rem; }

.circled { border-radius: 50%; }

/* ----- Width ----- */

@each $i in (25, 50, 75, 100) {
  .w-#{$i} { width: "#{$i}%"; }
}

/* ----- Colors ----- */

@each $key, $color in $colors {
  .bg-#{$key} { background-color: $color }
} 

.icon-rounded {
  @extend .m-2, .bg-primary;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  border-radius: 50%;

  i {
    font-size: 2.25rem;
    color: #fff;
  }
}


.text-field {
  @extend %input;
}

.full-width {
  width: 100%;
}

.form {
  @extend .full-width;
}

.btn {
  @extend .p-2, .mb-2, .full-width;

  background-color: map-get($colors, "primary");
  color: #fff;

  border-radius: 3px;

  outline: none;
  border: none;

  font-size: 1.15rem;
}