.add-task-menu {  
  margin: 1rem 0;

  // Если оставить заголовок "Список дел", правило ниже нормализует отступы
  .header + & { margin-top: 0; }

  &__editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-input {
      width: calc(100%);
      padding: .75rem;
      margin: {
        bottom: 1rem;
        right: 1rem;
      }

      outline: none;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid var(--divider-color);

      font-size: 1.25rem;

      transition: {
        property: border box-shadow;
        duration: var(--trans-dur-regular);
      }
      
      &:focus { border-color: var(--primary-color); }
    }
  }

  &__button {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: .75rem;
    margin-bottom: .25rem;
  
    border-radius: 5px;
  
    color: var(--font-color-light);
    border: none;
    background-color: var(--red);  
    outline: none;

    transition: {
      property: background-color color;
      duration: var(--trans-dur-regular);
    }
    
    @include box-shadow(0px);
  
    &:hover {
      color: var(--red);
      background-color: var(--font-color-light);
      cursor: pointer;
      transition: {
        property: box-shadow transform;
        duration: var(--trans-dur-regular);
      }

      transform: translateY(-2px);
    }

    &:disabled {
      background-color: var(--disabled-color);
      color: var(--font-color-dark);
      cursor: not-allowed;
      @include box-shadow(1px);
    }

    &-icon { 
      margin-right: .5rem;
      font-size: 1.5rem; 
    }
  }
}

@media (min-width: 600px) {
  .add-task-menu {
    &__editor {
      flex-direction: row;

      &-input {
        width: calc(100% - 150px);
        padding: .75rem;
        margin: {
          bottom: 1rem;
        }
      }
    }
    
    &__button { margin-bottom: 0; }
  }
}