@import 'core';

.auth-page {
  display: flex;
  height: 100vh;

  @media (min-width: 750px) {
    &__image {
      width: 60%;
      background: {
        size: cover;
        position: center;
        image: url('http://hseguy.com/wp-content/uploads/2020/08/list.jpg');
      }
    }

    .auth-form {
      width: 40%;
    }
  }
}

.auth-form {
  @extend .m-5, .full-width;

  display: flex;
  flex-direction: column;

  align-items: center;

  &__header {
    @extend .text-center;
  }
}
