@import 'core/core';

.app {
  @extend .w-100, .d-flex-col;

  height: 100vh;
  align-items: center;

  background-color: #fefeff;
  // background-color: #ddd;

  &__navbar,
  &__main {
    @extend .w-100;
  }

  &__main {
    @extend .d-flex-col, .align-items-center;
  }
}