.loader {
  font-size: 2rem;
  color: var(--primary-color);
  animation: {
    duration: var(--trans-dur-slowly);
    name: loader-rotating;
    iteration-count: infinite; 
    direction: normal;
    timing-function: linear;
  }
}

@keyframes loader-rotating {
  0% { 
    opacity: 1;
    transform: rotateZ(0deg) 
  }
  50% {
    opacity: .5;
  }
  100% { 
    opacity: 1;
    transform: rotateZ(360deg) 
  }
}